*{
    margin: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Releway', sans-serif;
}

.header{
    height: 400px;
    text-align: center;
    background-image: url("../style/images/coffee-bgnd.jpeg");
    background-position: center;
    background-size: cover;
}

h1{
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color:rgb(3, 150, 100);
    padding-top: 18vh;
}

.main>ul{
    list-style-type: none;
    padding: 0;
}

.main li{
    padding: 8vh 0;
    border-bottom: 1px solid #e4bb97;
}

.main li>h2{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #aa8eb5;
    margin-bottom: 2vh;
}

.main li>p{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: justify;
    padding: 0 1vh;
    text-indent: 32px;
    color: #454;
}

a:link{
    color: #214e34;
    font-weight: 800;
    padding: 0 1vh;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a:visited{
    color: violet;
}
a:hover{
    color: red;
}
a:active{
    color: yellow;
}