*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#header{
    background-color: rgb(41, 41, 83);
    width: 100%;
    height: 200px;
    position:relative;
}

#logo-search{
    color: white;
    text-transform: uppercase;
    position: relative;
    left: 100px;
    top: 15px;
}

#navigation{
    position: absolute;
    bottom: 0;
    height: 45px;
}

#show-case, 
#learn, 
#themes{
    color: white;
    position: absolute;
    width: 100px;
    cursor: pointer;
}

#show-case:hover, 
#learn:hover, 
#themes:hover{
    color: rgb(94, 94, 223);
}

#show-case{
    left: 100px;
}

#learn{
    left: 200px;
}

#themes{
    left: 300px;
}

#main{
    background-color: rgb(56, 56, 150);
    height: 2000px;
    width: 100%;
}

#main-text{
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
    font-size: 72px;
}

#slide-menu{
    width: 200px;
    height: 400px;
    background-color: aliceblue;
    border: 1px solid black;
    position: fixed;
    right: 10px;
    top: 205px;
    color: orangered;
    font-size: 22px;
}