.header, .footer{
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.header{
    background-color: violet;
    top: 0;
    right: 15%;
}

.footer{
    background-color: darkgoldenrod;
}

.main{
    height: 1500px;
    background-color: crimson;
    position: relative;
}

.div1, .div2, .div3, .div4{
height: 100px;
width: 50%;
}
.div1{
    background-color: yellow;
}
.div2{
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
}
.div3{
    background-color: green;
    position: absolute;
    top: 100px;
    right: 0;
}
.div4{
    background-color: blueviolet;
}