body{
    margin: 0px;
}
.outer1{
    height: 200px;
    background-color: blue;
    margin-bottom: 10px;
    /* border-top: 1px solid black; */
    padding-top: 1px;
}
.outer2{
    height: 200px;
    background-color: green;
    margin-top: 20px;
}
.inner1{
    height: 100px;
    width: 80%;
    background-color: red;
    margin: 40px auto;
}
