
body{
    background-color: antiquewhite;
}

h1{
    color: blue;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    background-color: aqua;
}

table, td, th{
    border: 1px solid coral; /*dashed, dotted*/
    border-collapse: collapse;
    text-align: center;
    font-weight: 900;
}

#African{
    border-radius: 50%;
    opacity: 1;
}

#test{
    font-size: 30px;
}
#Assian{
    border-radius: 20%;
}
