*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    margin-top: calc((100vh - 600px) / 2);
}

#head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
}

#neck{
    width: 15px;
    height: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
}

#body{
    width: 170px;
    height: 240px;
    border: 1px solid black;
    margin: 0 auto;
}

.arms {
    width: 189px;
    height: 15px;
    border: 1px solid black;
    margin-top: -1px;
}

#left{
    margin-left: 170px;
}
#right{
    margin-top: -1px;
    margin-left: -363px;
}

.legs{
    width: 15px;
    height: 120px;
    border: 1px solid black;
    margin-top: 225px;
}
#


