#background{
    background-color: blanchedalmond;
}
#table, tr, th, td{
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
}
h1{
    text-align: center;
    color: red;
}
#top-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    background-color:blue;
    border-radius: 30%;
}
#text{
    font-size: 16px;
    color: brown;
}
h3{
    max-width: 5vw;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    color:red;
}